
#billing-outer {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 1fr;
}
 
/* #billing-left {
    background-color: rgb(145, 161, 145);
} */

#billing-right{
    padding: 10px 32px
}

.price-text {
    line-height: 15px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney, Helvetica, Arial, sans-serif !important;

}
#price-block {
    display: grid;
    width: 100%;
    grid-template-columns: 57% 1fr;
}

.amount-text {
    line-height: 12px;
    font-size: 12px;
    color: #424553;
    font-family: Whitney, Helvetica, Arial, sans-serif !important;
    font-weight: 100;
}

.total-amount {
    font-size: 14px;
    font-family: Whitney, Helvetica, Arial, sans-serif !important;
    color: #424553;
    font-weight: 700;
}

.svgs {
    width: 6px;
    height: 8px;
}

.pc {
    color: #03a685;
}

.svgpc {
    fill: #03a685;
}
.grid1 {
    display: grid;
    grid-auto-rows: 109px;

    grid-gap: 10px;
}

.base-message {
    padding-left: 30px;
    color: #424553;
    list-style: none;
    white-space: normal;
    margin-bottom: 8px;
    font-size: 8pt;
}


.price-details {
    border-bottom: 1px solid #F5F5F6;
  
}

.header {
    border-bottom: 1px solid #F5F5F6;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    padding:20px;
    /* width: 100%;
    min-height: 78px;
    max-width: 92%; */
    margin: auto;
    display:flex;
    /* align-items: center;
    justify-content: space-between; */
}
.site-nav-container {
    background-color: #fff;
    width: 100%;
    min-height: 78px;
    max-width: 92%;
    margin: auto;
}
.header .myntra-logo {
    height: 40px;
    width: 40px;
    float: left;
}
.header .checkout-steps {
    margin: 0 0 0 34%;
    width: 40%;
    color: #696B79;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    letter-spacing: 2px;
}
.header .secureContainer {
    float: right;
    max-height: 78px;
    margin-right: -204px

}
.header .secureContainer .secure {
    float: right;
    color: #535766;
    margin: -10px -8px 0 0;
  
}
.header .secureContainer .secureIcon {
    margin: -12px 5px 0 0;
}
.myntra-logoImg
{
    width: 43px;
    height: 35px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    margin-bottom: -16px;    
}


.bank-offer {
    background: #fff;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    margin-bottom: -29px;
    font-size: 13px;
    position: relative;
    width: 604px;
    margin-top: 30px;
    margin-left: 82px;
}
#billing-left {
   
    padding-left: 15%;
    padding-right: 10%;
    border-right: 1px solid #eaeaec;
}

#areaB {
    padding: 10px
}
#card-area-right {
   
   margin:00px 10px 10px 10px;
}
/* grid1 {
    display: grid;
   
    grid-template-rows: auto 250px ;
    grid-gap: 10px;
    overflow: scroll;
} */

/* just styles for demo */
.bank-offer-block {
    background: white;
    margin-bottom: 10px;
    /* padding: 16px 18px 12px; */
    border: 1px solid #eaeaec;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
    height: 91px;
    margin-top: 26px;
}


.offer-title {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 12px;
    color: #424553;

}

.discount-message {
    padding-left: 30px;
    color: #424553;
    list-style: none;
    white-space: normal;
    margin-bottom: 8px;
    font-size: 8pt;
}
.more-text  { 
    text-decoration: none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    
    color: #ff3f6c;
    cursor: pointer;

}
.payment__mode {
    height:23px;
    background: white;
    margin-bottom: 10px;
    padding: 21px 10px 12px;
  
    font-family: Whitney, Helvetica, Arial, sans-serif !important;
    color: #424553;
    font-weight: 600;
    font-size: 9pt;
    position: relative;
    letter-spacing: .2pt;


}
#mode-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 1fr;
    
}
.mode-block{

margin-top: -54px !important; 
border: 1px solid #eaeaec;
height: 320px
}
.cardnumber{

font-size: 14px;
padding: 12px;
border: 1px solid #d4d5d9;
background-color: transparent;
font-weight: 300;
border-radius: 4px;
line-height: 14px;
width: 87%;
margin-bottom: 10px;

}
.last{
display: flex;

}
.cvv{

font-size: 14px;
padding: 12px;
border: 1px solid #d4d5d9;
background-color: transparent;
font-weight: 300;
border-radius: 4px;
line-height: 14px;
width: 33%;
margin-bottom: 10px;
margin-left: 20px;
}
.vyear
{
font-size: 14px;
padding: 12px;
border: 1px solid #d4d5d9;
background-color: transparent;
font-weight: 300;
border-radius: 4px;
line-height: 14px;
width:48%;
margin-bottom: 10px;
}
.paybtn{
width: 100%;
text-align: center;
background: #ff3f6c;
color: #fff;
font-weight: 600;
font-size: 14px;
line-height: 48px;
cursor: pointer;
border-radius: 4px;
border: none;
margin-top: 15px;
}
.cb{
margin-left: 30px;
}
.tab{
border-bottom: 1px solid #eaeaec;
border-right: 1px solid #eaeaec;
border-left: 5px solid #ff3f6c ;
border-top: 0;
background-color: #eaeaec;
font-size: 14px;
cursor: pointer;
height: 60px;
align-items: center;
display: flex;
padding-left: 8px;
}
.svggft{
width:15px;
height: 15px;
}
.gift{
display: flex;
justify-content: start;
align-items: center;
}
.gift-text{
font-weight: 600;
font-family: Whitney, Helvetica, Arial, sans-serif !important;
color: #535766;
font-size: 12px;
  
}
.apply{
color: #ff3f6c;
float: right;

cursor: pointer;
font-weight: 600;
font-size: 12px;
padding-left: 290px;
}
.grid__item-gift{
    background: white;
    margin-bottom: 10px;
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
    /* height: 91px;
    margin-top: 26px; */
    height: 29px;
    margin-top: 162px;
}
.checkout-footer {
    border-top: 1px solid #F5F5F6;
    margin: 128px -418px 11px 0
}
.checkout-footer .content-footer {
    max-width: 980px;
    padding-top: 10px;
    margin: auto;
}
.checkout-footer .images {
    display: inline-block;
}
.checkout-footer .content-footer .contact-us {
    color: #282c3f;
    text-decoration: none;
    font-weight: 600;
}
.checkout-footer .content-footer .contact-us span {
    float: right;
    font-size: 14px;
    padding: 10px 0;
}
.cardForm-base-selectedCheckboxIcon {
    fill: #ff3f6c;
}
.cardForm-base-checkboxIcon, .cardForm-base-selectedCheckboxIcon {
    position: relative;
    font-size: 20px;
    top: 4px;
}
.saveCard-label{
margin-left: 2px;
}